body{
    background-color: rgb(46, 2, 46);
}

#challenge-1{
    background-color:white;
    color:black;
}
.container-pic{

    text-align: center;
    padding: 40px;
    
}

.harry-pic{

    width: 240px;
    height:400px;
    border-radius: 5%;
}

.container-title{
    font-size: 48px;
    font-family: Papyrus,fantasy;
    color:white;
    text-align: center;
}

.container-paragraph{
    color:white;
    text-align: center;

}